<h1>Pipes</h1>
<p>Pipe changes the value for view it doesn't changes value of property for ts class</p>

<h2>String Pipe</h2>
<h3>{{name}}</h3>
<h3>{{name | lowercase}}</h3>
<h3>{{name | uppercase}}</h3>
<h3>{{message | titlecase}}</h3>
<h3>{{name | slice:8}}</h3>
<h3>{{name | slice:8:11}}</h3>
<h3>{{person | json}}</h3>
<hr>

<h2>Number Pipe</h2>
<h3>{{5.4 | number:'3.2-3'}}</h3>
<hr>

<h2>Percent Pipe</h2>
<h3>{{0.25 | percent }}</h3>
<hr>

<h2>Currency Pipe</h2>
<h3>{{0.25 | currency }}</h3>
<h3>{{0.25 | currency:'EUR' : 'code'}}</h3>
<hr>

<h2>Date Pipe</h2>
<h3>date</h3>

<h3>Short Pipe</h3>
<h4>{{date | date:'short'}}</h4>
<h4>{{date | date:'shortDate'}}</h4>
<h4>{{date | date:'shortTime'}}</h4>

<h3>Medium Pipe</h3>
<h4>{{date | date:'medium'}}</h4>
<h4>{{date | date:'mediumDate'}}</h4>
<h4>{{date | date:'mediumTime'}}</h4>

<h3>Long Pipe</h3>
<h4>{{date | date:'long'}}</h4>
<h4>{{date | date:'longDate'}}</h4>
<h4>{{date | date:'longTime'}}</h4>